spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/saas_mvp
    username: saas
    password: saas_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics